body {
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  background-color: #fff;
  padding: 32px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 400px;
}

.login-container img {
  display: block;
  margin: 0 auto 32px;
  width: 100px;
  height: 100px;
}

.login-container h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 32px;
}

.login-container input {
  width: 90%;
  padding: 12px 16px;
  margin-bottom: 24px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.login-container button {
  width: 50%;
  padding: 12px 16px;
  background-color: #f23567;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.login-container button:hover {
  background-color: #f5497b;
}