<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/register.css">
  <title>Thrifting Shop | Register</title>
</head>
<body>
  <div class="login-container">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5DXVYlJBeepuHm20EtKmIjrcHa3lAp4tXlA&usqp=CAU" alt="Thrift Logo">
    <h1>Register</h1>
    <form action="/user/register" method="POST">
      <input type="text" id="username" name="username" placeholder="Username">
      <input type="email" id="email" name="email" placeholder="Email">
      <input type="text" id="mobile_phone" name="mobile_phone" placeholder="No. Telpon">
      <input type="password" id="password" name="password" placeholder="Password">
      <button type="submit">Sign Up</button>
    </form>
</div>
</body>
</html>